@model DesafioIngressoCom.Models.Cinema
@{ ViewBag.Title = "Escolher cinema";}
<div class="container">
    <h1>@ViewBag.Title</h1>
    <p>Escolha o cinema em que deseja adicionar a sala.</p>
    <hr>
    <form asp-controller="Cinema" asp-action="Details" method="post" class="form-horizontal" role="form">
        <div class="form-horizontal">
            <label asp-for="Id" style="padding-top:15px">Cinema</label>
            <select id="cinemaSelect" name="cinemaSelect" class="form-control">
                <option value=""></option>
                @foreach (var item in ViewBag.Cinemas)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            </select>

            <div style="padding:15px 0px 15px 0px">
                <input type="submit" value="OK" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

