@model DesafioIngressoCom.Models.Sala

<h2>Detalhe</h2>
<table class="table" style="border:none; font-size: medium">
    <tr>
        <th style="border:none" width="70">Id:</th>
        <td style="border:none">@Model.Id</td>

    </tr>
    <tr>
        <th style="border:none">Nome:</th>
        <td style="border:none">@Model.NomeSala</td>
    </tr>
    <tr>
        <th style="border:none">Capacidade:</th>
        <td style="border:none">@Model.Capacidade</td>
    </tr>
</table>

<form>
    <input type="button" value="Voltar" onclick="history.back()" style='width: 85px' class="btn btn-default">
</form>
