@model DesafioIngressoCom.Models.Cinema
@{ ViewBag.Title = "Adicionar Cinema";}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <hr>
    <form asp-controller="Cinema" asp-action="Add" method="post" class="form-horizontal" role="form">
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Nome" style="padding:15px 0px 0px 0px">Nome</label>
            <input asp-for="Nome" class="form-control" style="padding-top:15px; padding-bottom:15px;" />
            <span asp-validation-for="Nome" class="text-danger"></span>

            <label asp-for="Local" style="padding-top:15px">Local</label>
            <input asp-for="Local" class="form-control" style="padding-top:15px; padding-bottom:15px;" />
            <span asp-validation-for="Local" class="text-danger"></span>
            <div style="padding:15px 0px 15px 0px">
                <input type="submit" value="Incluir" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
